@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik Mono One';
  src: url(./fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Play Regular';
  src: url(./fonts/Play/Play-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Play Bold';
  src: url(./fonts/Play/Play-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto/Roboto-Thin.ttf) format('truetype');
  font-weight: thin;
  font-style: normal;
}

.left-gradient {
  background-image: radial-gradient(
    ellipse 100% 60% at 0% 50%,
    white,
    transparent
  );
  opacity: 0.2;
}

.right-gradient {
  background-image: radial-gradient(
    ellipse 100% 60% at 100% 50%,
    white,
    transparent
  );
  opacity: 0.2;
}

.bottom-gradient {
  background-image: radial-gradient(
    ellipse 50% 100% at 50% 100%,
    white,
    transparent
  );
  opacity: 0.2;
}

.top-gradient {
  background-image: radial-gradient(
    ellipse 50% 100% at 50% 0%,
    white,
    transparent
  );
  opacity: 0.2;
}

.slide-right {
  animation-name: slideRight;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.slide-left {
  animation-name: slideLeft;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slide-up {
  animation-name: slideUp;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.slide-down {
  animation-name: slideDown;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
